.features__title {
  @extend %h3-title;
  color: $heading-text-color;
  margin-top: 0px;
  margin-bottom: 10px;
}

.features__text {
  @extend %p-text;
}

.features__wrapper {
  @extend %align;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background: $bg-lite-col;
  border-radius: 4px;
}

@media screen and(min-width: 480px) and(max-width:767px) {
  // .features__wrapper{
  //     width: 450px;
  // }
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .features__title {
    text-align: center;
  }
}
@media screen and(min-width: 768px) {
  // .features__wrapper{
  //     width: 354px;
  // }
  .features {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .features__item {
    margin: 15px;
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and(min-width:1200px) {
  .features__item {
    flex-basis: calc((100% - 120px) / 4);
  }
  // .features__wrapper{
  //     width: 270px;
  // }
}
