.subscription__input {
  background-color: transparent;

  font-family: var(--primary-font-family);
  font-weight: $primary-font;
  font-size: 16px;
  line-height: 1.25;
  padding: 15px 16px;

  letter-spacing: $prim-letter-spacing;
  color: $white-color;
  border: 1px solid $subscription-form-input-border-clr;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  &::placeholder {
    color: $footer-link-col;
  }
  &:hover,
  &:focus {
    outline: 0;
    border-color: var(--primary-white-color);
  }
}

.subscription__icon {
  fill: $white-color;
  margin-left: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button--subscription {
  display: flex;
  align-items: center;
  padding: 10px 28px 10px 29px;
  margin-left: auto;
  margin-right: auto;
}
