

.team__item{
    background: $white-color;
    box-shadow: $team-box-shadow;
    border-radius: 0px 0px 4px 4px;
   

}


.team__wrapper{
    padding: 30px 0;
}
.team__title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: $prim-letter-spacing;
    color: $heading-text-color;
    margin-bottom: 10px;
}
.team__text{
    font-weight: $primary-font;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: $prim-letter-spacing;
    margin-bottom: 16px;
}

@media screen and(max-width: 767px){
    .team__item:not(:last-child){
        margin-bottom: 30px;
    }
}

@media screen and(min-width: 768px) {
    .team{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
    }
    .team__item{
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 0px;
    }
}

@media screen and(max-width: 1200px){
    .section__title{
        
        font-family: $primary-font-family;
        font-weight: $secondary-font;
        font-size: 28px;
        line-height: 1.18;
        margin-bottom: 30px;
    }

}
@media screen and(min-width: 1200px){
    .team__item{
        flex-basis: calc((100% - 120px) / 4);
    }
}