.work{
   @extend %leveling;
}
.work__item{
    position: relative;
    @extend %work-contact-grid;
}
.work__title{
    position: absolute;
    @extend %align;
    @extend %h3-title;
    left: 0%;
    bottom: 0%;
    width: 100%;
    height:70px ;
    color: $white-color;
    background: rgba(47, 48, 58, 0.8);
    margin-bottom: 0;
}

@media screen and(max-width:1199px) {
    .section--no-padding-top{
        display: none;
    } 
}