.content__title{
    @include font($fw:700, $fs:18px,$lh:36px);
    letter-spacing: 0.06em;
    color: $heading-text-color;
    margin-bottom: 4px;
}
.content__text{
    @include font($fs:16px,$lh:30px);
    letter-spacing: $prim-letter-spacing;
    color: $main-text-color;
}
