.features__icon {
    display: flex;
    margin-bottom: 30px;
    height: 120px;
    align-items: center;
    justify-content: center;
    background-color: var(--second-section-color);
}

.feutures-text {
    color: var(--text-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}