.footer-form {
  @media screen and(min-width: 480px) {
    display: block;
  }
  @media screen and(min-width: 768px) {
  }
  @media screen and(min-width: 1199px) {
    display: flex;
  }
}

.footer-form__input {
  color: var(--rpimary-color);
  padding-left: 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;

  &:hover,
  &:focus {
    outline: 0;
    border-color: var(--primary-white-color);
  }
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-text {
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.modal-title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.modal-label {
  display: flex;
  flex-direction: column;
  position: relative;
}

.modal-form-list {
  margin-top: 0;
  margin-bottom: 20px;
}

.modal-fofm-item {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.modal-input {
  padding-left: 42px;

  font: inherit;

  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  background-color: transparent;
  outline: transparent;

  &:focus,
  &:hover {
    border-color: var(--accent-color);
  }
}

.modal-textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;

  background-color: transparent;
  outline: transparent;

  &:focus,
  &:hover {
    border-color: var(--accent-color);
  }

  &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal-icon {
  position: absolute;
  top: 0;
  left: 12px;
  transform: translateY(50%);

  fill: var(--title-text-color);
}

.modal-input:focus + .modal-icon,
.modal-input:hover + .modal-icon {
  fill: var(--accent-color);
}
