
.logo{
    font-family: $secondary-font-family;
    @include font($fw:700,$fs:24px, $lh:28px);
    letter-spacing: $prim-letter-spacing;
    color: $accent-color;
    .logo__dark{
        color: $logo-dark-color;
    } 
    .logo__light{
        color: $white-color; 
    }
}

@media screen and (min-width:768px){
    .logo{
        padding: 26px 0;
    }
}

@media screen and (min-width:1200px) {
    .logo{
        @include font($fw:700,$fs:26px, $lh:31px);
        padding: 24px 0 25px 0; ;
    }
    .header__logo{
        margin-right: 93px;;
    }

}










// .logo{
//     font-family: $secondary-font-family;
//     font-weight: $secondary-font;
//     font-size: 26px;
//     line-height: 1.19;
//     letter-spacing: $prim-letter-spacing;
//     color: $accent-color;
//     padding: 24px 0 25px 0;
//     .logo__dark{
//         color: $logo-dark-color;
//     } 
//     .logo__light{
//         color: $white-color; 
//     }
// }

// .header__logo {
//     margin-right: 93px;
// }


.footer__logo{
    display: inline-block;
    margin-right: 0;
    margin-bottom: 20px;
    padding: 0%;
}
 
.footer-link-location{
    color: $white-color;
}