.logo {
  color: var(--accent-color);
  text-decoration: none;
  font-family: var(--secundary-font), sans-serif;
  font-weight: 700;

  letter-spacing: 0.03em;

  @media screen and(min-width: 480px) {
    font-size: 24px;
    line-height: 1.16;
  }
  @media screen and(min-width: 768px) {
    font-size: 26px;
    line-height: 1.19;
  }

  @media screen and(min-width: 1199px) {
    font-size: 26px;
    line-height: 1.19;
  }

  &-header {
    color: var(--text-studio-color);
  }

  &-footer {
    color: var(--rpimary-color);
  }
}
.header__logo {
  @media screen and(max-width: 767px) {
    padding: 16px 0;
    margin-right: auto;
  }
}
