.mobile-menu-open-btn {
  padding: 10px 0;
  border: none;
  position: relative;
  background: white;
  cursor: pointer;

  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }

  @media screen and(min-width: 768px) {
    display: none;
  }
}
.mobile-menu__container {
  @media screen and (max-width: 767px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.mobile-menu__close-btn {
  border: none;
  position: relative;
  background: #fff;
  position: absolute;
  top: 10px;
  right: 15px;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.mobile-menu-open-btn__icon {
  width: 40px;
  height: 40px;
}
.mobile-menu__icon {
  position: absolute;
}

.mobile-menu__container.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
  z-index: 99;
}
.mobile-menu__container {
  position: relative;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  padding-right: 40px;
  background: white;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  height: 100%;

  @media screen and(min-width: 768px) {
    display: none;
  }
}

.mobile-menu__item {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:not(:last-child) {
    margin-bottom: 32px;
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.mobile-menu__link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.mobile-menu__link--current {
  color: var(--accent-color);
}

.social-mobile__list {
  display: flex;
  margin-top: 64px;
}
.social-mobile__item {
  &:not(:last-child) {
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}
.social-mobile__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.contact-mobile__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.contact-mobile:hover,
.contact-mobile:focus {
  font-size: 34px;
  line-height: 1.17;
  color: var(--accent-second-color);
}

.contact-mobile__item:not(:last-child) {
  margin-bottom: 32px;
}

.contact-mobile__link.marked {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
