.portfolio-card {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-card__item {
  width: 370px;
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc((100% - 90px) / 3);
  border: 1px solid #eeeeee;

  transition: box-shadow var(--anim-slow);
  margin-right: 30px;
  margin-bottom: 30px;

  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }

  &:nth-child(3n + 3) {
    margin-right: 0;
  }
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio-card__site {
  padding: 20px 24px;
}

.portfolio-card__name {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-card__type {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.portfolio-card__link {
  text-decoration: none;
}

.portfolio-card__data {
  position: relative;
  overflow: hidden;
}
