$primary-font-family: 'Roboto', sans-serif;
$secondary-font-family: 'Raleway', sans-serif;

$accent-color: #2196f3;
$btn-hover-col: #188ce8;

$main-bg-dark-color: #2f303a;
$primary-font: 400;
$secondary-font: 700;
$prim-letter-spacing: 0.03em;
$secondary-letter-spacing: 0.06em;

$main-text-color: #757575;
$heading-text-color: #212121;
$white-color: #ffffff;
$logo-dark-color: #000000;
$bg-lite-col: #f5f4fa;

$header-border-color: #ececec;
$hero-background-col: #c4c4c4;
$main-icons-col: #afb1b8;

$content-border-color: #eeeeee;

$hero-btn-shadow: rgba(0, 0, 0, 0.15);
$filter-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
  0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
$team-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

$footer-link-col: rgba(255, 255, 255, 0.6);
$footer-social-link-col: rgba(255, 255, 255, 0.1);

$bg-backdrop: rgba(0, 0, 0, 0.1);
$contact-form-field-border: rgba(33, 33, 33, 0.2);
$placeholder-text-color: rgba(117, 117, 117, 0.5);
$subscription-form-input-border-clr: rgba(255, 255, 255, 0.3);

// mixin

@mixin font($fw: 400, $fs: 14px, $lh: 24px) {
  font-weight: $fw;
  font-size: $fs;
  line-height: calc($lh/$fs);
}

// placeholders

%align {
  display: flex;
  align-items: center;
  justify-content: center;
}

%h3-title {
  font-weight: $secondary-font;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: $prim-letter-spacing;
}

%p-text {
  font-weight: $primary-font;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: $prim-letter-spacing;
  margin-top: 0px;
}

%visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

%leveling {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

%work-contact-grid {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}
