:root {
    /* fonts */
    --main-font: Roboto;
    --secundary-font: Raleway;
    /* colors */
    --rpimary-color: #FFFFFF;
    --first-section-color: #2F303A;
    --second-section-color: #F5F4FA;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --text-color: #757575;
    --text-studio-color: #000000;
    --accent-second-color: #188CE8;
    --icons-color: #AFB1B8;
    /* other */
    --items: 3;
    --indent: 30px;
    --anim-slow: 300ms ease-in-out;
}