.clients {
  // padding-top: 94px;
  // padding-bottom: 94px;
  background-color: var(--rpimary-color);

  @media screen and(min-width: 480px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and(min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__list {
  --items: 6;
  // display: block;
  @media screen and(min-width: 480px) {
    width: 480px;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
  }
  @media screen and(min-width: 768px) {
    width: 768px;
  }
  @media screen and(min-width: 1200px) {
    display: flex;
    width: 1200px;
  }

  & > .card-set__item {
    @media screen and(max-width: 767px) {
      width: 210px;
      margin: calc(30px / 3);
    }
    // @media screen and(min-width: 768px) {
    //   width: 226px;
    // }

    @media screen and(min-width: 1199px) {
      width: 170px;
    }
  }
}
