.team {
  background-color: var(--second-section-color);

  @media screen and(min-width: 480px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and(min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__list {
  --items: 4;
}
ul {
  margin: 0;
}
